* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: #1e1e1e;
  color: #f1f1f1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 30px;
}


h1 {
  margin-bottom: 20px;
}

#startBlock,
#game {
  width: 600px;
  background: #2b2b2b;

  padding: 20px;
  border-radius: 10px;

  box-shadow: 0 0 12px rgba(0,0,0,0.45);

  text-align: center;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.card {
  width: 75px;
  height: 110px;

  border: 1px solid #555;
  background: #3b3b3b;

  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 14px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

button {
  padding: 7px 14px;
  background: #444;
  color: white;
  border: 1px solid #666;
  border-radius: 5px;

  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #555;
}

button:disabled {
  background: #333;
  color: #777;
  cursor: not-allowed;
}

p {
  margin: 5px 0;
}

#message {
  margin-top: 15px;
  font-weight: bold;
  color: #ffffff;
}
